.exampleBg {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.centeredSection {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.backgroundGradientTwo) {
  position: absolute;
  inset: 0;
  z-index: 1;
}